/* * { outline: 1px solid pink; } */

.navbar-inverse {
  /* background-color: #80CEB9; */
  /* border-color: #80CEB9; */
}

.background {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url("pexels-photo.jpg") no-repeat center fixed;
  background-size: cover;
}

.main {
  margin-top: 150px;
}

.img {
  background-color: #DDDDDD;
  border-radius: 5px;
}

body {
  background-color: #DDDDDD;
}

.signin {
  font-weight: bold; !important
}

.signup {
  color: #E47297 !important;
  font-weight: bold;
}

.signup:hover {
  color: white !important;
}

.home:before {
  content: "";
  display: block;
  clear: both;
}

.photo img {
  width: 100%;
}

.photo {
  margin-bottom: 20px;
  padding-top: 20px;
  background-color: white;
  border: 2px solid gray;
}
