/* * { outline: 1px solid pink; } */

.navbar-inverse {
  background-color: #80CEB9;
  border-color: #80CEB9;
}

body {
  background-color: #DDDDDD;
}

.signin {
  font-weight: bold; !important
}

.signup {
  color: #E47297 !important;
  font-weight: bold;
}

.signup:hover {
  color: white !important;
}

.home:before {
  content: "";
  display: block;
  clear: both;
}
